DISCORD_TOKEN=
DISCORD_APPLICATION_ID=
DATABASE_URL=sqlite://data/cappyfm.db?mode=rwc
LAVALINK_HOST=lavalink
LAVALINK_PORT=2333
LAVALINK_PASSWORD=change-me
RUST_LOG=cappyfm=info
CAPPY_ENV=development
CAPPY_LOG_SEARCH_QUERIES=false
CAPPY_CONFIG=config/cappyfm.toml

